{% load static %}

<input type="checkbox" name="select_all" id="id_select_all" checked>   
<label class="text-black" for="id_select_all"><strong>Выбрать все</strong></label>                        


<div class="card mb-3 text-bg-light shadow-lg">
    {% for item in cart_items %}
        <div class="card-header">
            <h5 class="card-title">{{ item.product.name }} ({{ item.product.unit }})</h5>


                <img src="{{ item.image_for_order }}" alt="{{ item.product.name }}">


        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <div class="input-group">
                            <span>


                                    <input type="checkbox" name="select_buy" id="id_select_buy" checked>   
                                    <label for="">Выбрать</label>                            


                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark btn-sm decrement"
                                    data-cart-id="{{ cart.id }}" 
                                    data-cart-change-url="{% url "orders:cart_change" %}">
                                    {% csrf_token %}
                                    -</button>
                            </span>
                            <input type="text" class="form-control number" value="{{ item.quantity }}"
                                readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark btn-sm increment"
                                    data-cart-id="{{ cart.id }}" 
                                    data-cart-change-url="{% url "orders:cart_change" %}">
                                    {% csrf_token %}
                                    +</button>
                            </span>
                        </div>
                    </div>
                    <div class="col p-0">
                        <p class="text-black">{{ item.product.unit }}  x  {{ item.product.sell_price }}  = </p>
                    </div>
                    <div class="col p-0"><strong>{{ item.products_price }} Р</strong></div>
                    <div class="col p-0">
                        <a href="{% url "orders:cart_remove" %}" class="remove-from-cart" 
                            data-cart-id="{{cart.id}}">
                            {% csrf_token %}
                            <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                                alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer text-black">
        <p class="float-left text-black">Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{ carts.total_price }} Р</strong></h4>
    </div>
</div>