{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block trading %}

<div class="container mt-5">
    <div class="card mb-4">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static "deps/images/Not found image.png" %}" class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col-md-8 ">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                <h5 class="card-title">{{product.name}}</h5>
                <p class="product_id mt-3">{% if product.quantity %}Доступно {{product.quantity}}{{product.unit}}{% endif %}</p>
                <p class="card-text">{{product.description}}</p>
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static "deps/images/Not found image.png" %}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">
            {% if product.discount %}
                <p><s>{{product.price}}</s></p>
                <p><strong>{{product.sell_price}} Р/{{product.unit}}</strong></p>
                <span class="badge bg-warning text-dark">Скидка {{product.discount}} %</span>
            {% else %}
                <p><strong>{{product.price}} Р/{{product.unit}}</strong></p>
                {% if user.groups_id == 1 %}
                    <p><strong>Оптовая цена {{product.price_low}} Р от {{product.count_for_low}} {{product.unit}}</strong></p>
                {% else %}
                    <p><strong>Цена мелким оптом: {{product.price_mid}} Р от {{product.count_for_mid}} {{product.unit}}</strong></p>
                {% endif %}
            {% endif %}
            {% if not product.quantity %}
                <span class="badge bg-warning text-dark">Нет в наличии</span>
                <a href="{% url "carts:cart_add" %}" class="btn btn-dark add-to-cart disabled"
                data-product-id="{{ product.id }}">
                {% csrf_token %}
                Добавить в корзину</a>
            {% else %}
                <a href="{% url "carts:cart_add" %}" class="btn btn-dark add-to-cart"
                data-product-id="{{ product.id }}">
                {% csrf_token %}
                Добавить в корзину</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock  %}