{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}


{% block miniatures %}

<div class="row">
    <div class="col-lg-8 col-md-2 col-sm-2 col-2 text-center">
        {% if product.image %}
            <img src="{{ product.image.url }}"
            class="border img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-2 col-sm-2 col-2 text-center">
        {% if product.image_1 %}
            <img src="{{ product.image_1.url }}"
            class="border img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal2" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-2 col-sm-2 col-2 text-center">
        {% if product.image_2 %}
            <img src="{{ product.image_2.url }}"
            class="border img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal3" alt="{{ product.name }}">
        {% endif %}
    </div>
</div>

{% endblock  %}


{% block trading %}

<div class="container mt-5">
    <div class="card mb-4">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                {% if product.image %}
                    <img src="{{ product.image.url }}"
                    class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static "deps/images/Not found image.png" %}"
                    class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col-md-8 ">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                <h5 class="card-title">{{product.name}}</h5>
                <p class="product_id mt-3">{% if product.quantity %}Доступно {{product.quantity}}{{product.unit}}{% endif %}</p>
                <p class="card-text">{{product.description}}</p>
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static "deps/images/Not found image.png" %}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="imageModal2" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if product.image_1 %}
                                <img src="{{ product.image_1.url }}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="imageModal3" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if product.image_2 %}
                                <img src="{{ product.image_2.url }}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">
            {% if user.groups_id == 1 %}
                {% if product.discount_low %}
                    <p><s>Цена {{product.price_low}} Р/{{product.unit}}</s></p>
                    <p><strong>Цена {{product.sell_price_low}} Р/{{product.unit}}</strong></p>
                    <span class="badge bg-warning text-dark">Скидка {{product.discount_low}}%</span>
                {% else %}
                    <p><strong>Цена {{product.price_low}} Р/{{product.unit}}</strong></p>
                {% endif %}
                {% if not product.quantity %}
                    <span class="badge bg-danger text-dark">Нет в наличии</span>
                    <a href="{% url "carts:cart_add_low" %}" class="btn btn-dark add-to-cart disabled"
                        data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        Добавить в корзину
                    </a>
                {% else %}
                    <a href="{% url "carts:cart_add_low" %}" class="btn btn-dark add-to-cart"
                        data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        Добавить в корзину
                    </a>
                {% endif %}
            {% else %}
                <div class="d-flex justify-content-around">
                    <div>
                        <p>В розницу</p>
                        {% if product.discount %}
                            <p><s>Цена {{product.price}} Р/{{product.unit}}</s></p>
                            <p><strong>Цена {{product.sell_price}} Р/{{product.unit}}</strong></p>
                            <span class="badge bg-warning text-dark">Скидка {{product.discount}}%</span>
                        {% else %}
                            <p><strong>Цена {{product.price}} Р/{{product.unit}}</strong></p>
                        {% endif %}
                        {% if not product.quantity %}
                            <span class="badge bg-danger text-dark">Нет в наличии</span>
                            <a href="{% url "carts:cart_add" %}" class="btn btn-dark add-to-cart disabled"
                                data-product-id="{{ product.id }}">
                                {% csrf_token %}
                                Добавить в корзину
                            </a>
                        {% else %}
                            <a href="{% url "carts:cart_add" %}" class="btn btn-dark add-to-cart"
                                data-product-id="{{ product.id }}">
                                {% csrf_token %}
                                Добавить в корзину
                            </a>
                        {% endif %}
                    </div>
                    <p> </p>
                    
                    <div>
                        <p>Мелкий опт</p>
                        {% if product.discount_mid %}
                            <p><s>Цена {{product.price_mid}} Р/{{ product.count_for_mid }} {{product.unit}}</s></p>
                            <p><strong>Цена {{product.sell_price_mid}} Р/{{ product.count_for_mid }} {{product.unit}}</strong></p>
                            <span class="badge bg-warning m text-dark">Скидка {{product.discount_mid}}%</span>
                        {% else %}
                            <p><strong>Цена {{product.price_mid}} Р/{{product.unit}}</strong></p>
                        {% endif %}
                        {% if not product.quantity %}
                            {% comment %} <span class="badge bg-warning m text-dark">Нет в наличии</span> {% endcomment %}
                            <a href="{% url "carts:cart_add_mid" %}" class="btn btn-dark add-to-cart disabled"
                                data-product-id="{{ product.id }}">
                                {% csrf_token %}
                                Добавить в корзину {{product.count_for_mid}} {{product.unit}}
                            </a>
                        {% else %}
                            <a href="{% url "carts:cart_add_mid" %}" class="btn btn-dark add-to-cart"
                                data-product-id="{{ product.id }}" data-count-mid="{{product.count_for_mid}}">
                                {% csrf_token %}
                                Добавить в корзину {{product.count_for_mid}} {{product.unit}}
                            </a>
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock  %}