{% extends "base.html" %}
{% load static %}
{% load cache %}

{% comment %} {% block filters %}

<ul class="navbar-nav bg-dark">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Покупатели
        </a>
        <ul class="dropdown-menu bg-dark">
            {% cache 60 catalog %}
            {% for user in users %}
                <li>
                    <a class="nav-link text-white" href="{% url "myadmin:myadmin" 'user.id' %}">{{user.first_name}} {{user.last_name}}</a>
                </li>
            {% endfor %}
            
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="nav-link text-white" href="{% url "myadmin:myadmin" %}">Все</a></li>
            {% endcache %}
        </ul>
    </li>
</ul>

<ul class="navbar-nav bg-dark">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Статус
        </a>
        <ul class="dropdown-menu bg-dark">
            {% cache 60 catalog %}
            {% for order in orders %}
            <li>
                <a class="nav-link text-white" href="#{% url "myadmin:myadmin" order.user.id %}">{{order.status}}</a>
            </li>
            {% endfor %}
            
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="nav-link text-white" href="#{% url "myadmin:myadmin" 'all' %}">Все</a></li>
            {% endcache %}
        </ul>
    </li>
</ul>

{% endblock  %} {% endcomment %}


{% block trading %}
<!-- Оформленные заказы -->
{% comment %} {% cache 60 usero_rders user.id %} {% endcomment %}
<div class="col-md-12">
    <div class=" bg-white bg-opacity-50 rounded custom-shadow">
        <h3 class="text-center text-black">Заказы</h3>
        <!-- Разметка заказов -->
        <div class="container-fluid" id="order-items-container">
            {% include "myadmin/includes/included_myadmin.html" %}
        </div>
        <!-- Закончилась разметка заказов -->
    </div>
</div>
{% comment %} {% endcache %} {% endcomment %}

{% endblock  %}