{% load static %}
{% load cache %}
{% load goods_tags %}


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Фото</th>
            <th>Товар</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Цена м. опт</th>
            <th>Цена опт</th>
        </tr>
    </thead>
    <tbody>
        {% for item in goods %}
            <tr>
                <td class="text-start">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" class="rounded img-thumbnail bg-dark bg-opacity-50" 
                            style="width: 50px" data-bs-toggle="modal" data-bs-target="#imageModal{{ item.id }}" alt="{{ item.name }}">
                    {% endif %}
                </td>
                <td><a class="text-white" href="#offcanvasProduct" 
                    data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop{{ item.id }}" aria-controls="staticBackdrop">
                    {{ item.name }}</a> {{ item.unit }}</td>
                    <td><input type="text" class="form-control-sm item" style="width: 70px" value="{{ item.quantity }}"
                        data-product-id="{{ item.id }}" data-product-field="quantity"
                        data-product-change-url="{% url "myadmin:change_goods" %}"></td>
                    <td><input type="text" class="form-control-sm item" style="width: 70px" value="{{ item.price }}"
                        data-product-id="{{ item.id }}" data-product-field="price"
                        data-product-change-url="{% url "myadmin:change_goods" %}"></td>
                    <td><input type="text" class="form-control-sm item" style="width: 70px" value="{{ item.price_mid }}"
                        data-product-id="{{ item.id }}" data-product-field="price_mid"
                        data-product-change-url="{% url "myadmin:change_goods" %}"></td>
                    <td><input type="text" class="form-control-sm item" style="width: 70px" value="{{ item.price_low }}"
                        data-product-id="{{ item.id }}" data-product-field="price_low"
                        data-product-change-url="{% url "myadmin:change_goods" %}"></td>
            </tr>

            <div class="offcanvas offcanvas-start text-bg-dark" style="width: 555px" data-bs-backdrop="static" tabindex="-1" 
                id="staticBackdrop{{ item.id }}" aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="staticBackdropLabel">{{ item.name }}</h5>
                    {% comment %} <button type="button" class="btn btn-light">Копировать</button> {% endcomment %}
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body text-end">
                    <form action="/admin/goods/products/{{item.id}}/change/" enctype="multipart/form-data" method="post" id="products_form" novalidate="">
                        {% csrf_token %}

                        <div class="submit-row pt-4">
                            <input type="submit" value="Сохранить" class="default" name="_save">
                            <input type="submit" value="Сохранить как новый объект" name="_saveasnew">
                            {% comment %} <input type="submit" value="Сохранить и добавить другой объект" name="_addanother"> {% endcomment %}
                            {% comment %} <input type="submit" value="Сохранить и продолжить редактирование" name="_continue"> {% endcomment %}
                        </div>

                        <div class="form-row field-name field-slug pt-5">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-name">
                                    <label class="required" for="id_name">Название:</label>
                                    <input type="text" name="name" value="{{ item.name }}" class="vTextField" maxlength="150" required="" id="id_name">
                                </div>
                                <div class="flex-container fieldBox field-slug pt-2">
                                    <label class="inline" for="id_slug">URL:</label>
                                    <input type="text" name="slug" value="{{ item.slug }}" class="vTextField" maxlength="200" id="id_slug">
                                </div>
                            </div>
                        </div>

                        <div class="form-row field-category field-is_neo pt-4">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-category">
                                    <label class="required" for="id_category">Категория:</label>
                                    <div class="related-widget-wrapper pt-2" data-model-ref="Категорию">
                                        <select name="category" required="" id="id_category">
                                            <option value="{{ item.category.name }}" selected="">{{ item.category.name }}</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {% comment %} <a class="related-widget-wrapper-link change-related" id="change_id_category" 
                                            data-href-template="/admin/goods/categories/__fk__/change/?_to_field=id&amp;_popup=1" 
                                            data-popup="yes" title="Изменить выбранный объект типа " Категорию""="">
                                            <img src="/static/admin/img/icon-changelink.svg" alt="Изменить"></a> {% endcomment %}
                                        <a class="related-widget-wrapper-link add-related" id="add_id_category" 
                                            data-popup="yes" href="/admin/goods/categories/add/?_to_field=id&amp;_popup=1" 
                                            title="Добавить ещё один объект типа " Категорию""="">
                                            <img src="/static/admin/img/icon-addlink.svg" alt="Добавить"></a>
                                        {% comment %} <a class="related-widget-wrapper-link delete-related" id="delete_id_category" 
                                            data-href-template="/admin/goods/categories/__fk__/delete/?_to_field=id&amp;_popup=1" 
                                            data-popup="yes" title="Удалить выбранный объект типа " Категорию""="">
                                            <img src="/static/admin/img/icon-deletelink.svg" alt="Удалить"></a> {% endcomment %}
                                        {% comment %} <a class="related-widget-wrapper-link view-related" id="view_id_category" 
                                            data-href-template="/admin/goods/categories/__fk__/change/?_to_field=id" 
                                            title="Просмотреть выбранный объект типа " Категорию""="">
                                            <img src="/static/admin/img/icon-viewlink.svg" alt="Просмотреть"></a> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="flex-container fieldBox field-is_neo pt-2">
                                    {% if item.is_neo %}
                                        <input type="checkbox" name="is_neo" id="id_is_neo" checked>
                                    {% else %}
                                        <input type="checkbox" name="is_neo" id="id_is_neo">
                                    {% endif %}
                                    <label class="vCheckboxLabel inline" for="id_is_neo">В новинки</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row field-price field-discount pt-4">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-price">
                                    <label class="required" for="id_price">Цена:</label>
                                    <input type="number" name="price" value="{{ item.price | floatformat }}" step="0.01" required="" id="id_price">
                                </div>
                                <div class="flex-container fieldBox field-discount pt-2">
                                    <label class="required inline" for="id_discount">Скидка в %:</label>
                                    <input type="number" name="discount" value="{{ item.discount | floatformat }}" step="0.01" required="" id="id_discount">
                                </div>
                            </div>
                        </div>

                        <div class="form-row field-price_mid field-count_for_mid field-discount_mid pt-4">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-price_mid">
                                    <label class="required" for="id_price_mid">Цена мелкий опт:</label>
                                    <input type="number" name="price_mid" value="{{ item.price_mid | floatformat }}" step="0.01" required="" id="id_price_mid">
                                </div>
                                <div class="flex-container fieldBox field-count_for_mid pt-2">
                                    <label class="required inline" for="id_count_for_mid">Единиц товара для мелкого опта:</label>
                                    <input type="number" name="count_for_mid" value="{{ item.count_for_mid }}" class="vIntegerField" required="" id="id_count_for_mid">
                                </div>
                                <div class="flex-container fieldBox field-discount_mid pt-2">
                                    <label class="required inline" for="id_discount_mid">Скидка в %:</label>
                                    <input type="number" name="discount_mid" value="{{ item.discount_mid | floatformat }}" step="0.01" required="" id="id_discount_mid">
                                </div>
                            </div>
                        </div>

                        <div class="form-row field-price_low field-count_for_low field-discount_low pt-4">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-price_low">
                                    <label class="required" for="id_price_low">Цена опт:</label>
                                    <input type="number" name="price_low" value="{{ item.price_low | floatformat }}" step="0.01" required="" id="id_price_low">
                                </div>
                                <div class="flex-container fieldBox field-count_for_low pt-2">
                                    <label class="required inline" for="id_count_for_low">Единиц товара для опта:</label>
                                    <input type="number" name="count_for_low" value="{{ item.count_for_low }}" class="vIntegerField" required="" id="id_count_for_low">
                                </div>
                                <div class="flex-container fieldBox field-discount_low pt-2">
                                    <label class="required inline" for="id_discount_low">Скидка в %:</label>
                                    <input type="number" name="discount_low" value="{{ item.discount_low | floatformat }}" step="0.01" required="" id="id_discount_low">
                                </div>
                            </div>
                        </div>

                        <div class="form-row field-quantity field-unit pt-4">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-quantity">
                                    <label class="required" for="id_quantity">Количество:</label>
                                    <input type="number" name="quantity" value="{{ item.quantity }}" class="vIntegerField" required="" id="id_quantity">
                                </div>
                                <div class="flex-container fieldBox field-unit pt-2">
                                    <label class="required inline" for="id_unit">Единица измерения:</label>
                                    <input type="text" name="unit" value="{{ item.unit }}" class="vTextField" maxlength="10" required="" id="id_unit">
                                </div>
                            </div>
                        </div>

                        <div class="form-row field-description pt-4">
                            <div class="flex-container">
                                <label for="id_description">Описание:</label>
                                <textarea name="description" cols="47" rows="7" 
                                    class="vLargeTextField" id="id_description">{{ item.description }}</textarea>
                            </div>
                        </div>

                        <div class="form-row field-image field-image_1 field-image_2 pt-4">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-image">
                                    <label for="id_image">Изображение 1:</label>
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}"
                                        class="border img-thumbnail" style="width: 100px" alt="{{ item.name }}">
                                    {% endif %}
                                    <input type="file" name="image" accept="image/*" id="id_image">
                                </div>
                                <div class="flex-container fieldBox field-image_1 pt-2">
                                    <label class="inline" for="id_image_1">Изображение 2:</label>
                                    {% if item.image_1 %}
                                        <img src="{{ item.image_1.url }}"
                                        class="border img-thumbnail" style="width: 100px" alt="{{ item.name }}">
                                    {% endif %}
                                    <input type="file" name="image_1" accept="image/*" id="id_image_1">
                                </div>
                                <div class="flex-container fieldBox field-image_2 pt-2">
                                    <label class="inline" for="id_image_2">Изображение 3:</label>
                                    {% if item.image_2 %}
                                        <img src="{{ item.image_2.url }}"
                                        class="border img-thumbnail" style="width: 100px" alt="{{ item.name }}">
                                    {% endif %}
                                    <input type="file" name="image_2" accept="image/*" id="id_image_2">
                                </div>
                            </div>
                            {% if form.image.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                            {% endif %}
                        </div>

                        <div class="form-row field-residual field-is_residual pt-4">
                            <div class="flex-container form-multiline">
                                <div class="flex-container fieldBox field-residual">
                                    <label for="id_residual">Остатки (ЦЕЛЫЕ, вносить через ПРОБЕЛ):</label>
                                    {% if item.is_residual %}
                                        <input type="text" name="residual" value="{{ item.residual }}" 
                                        class="vTextField" maxlength="100" id="id_residual">
                                    {% else %}
                                        <input type="text" name="residual" value="" 
                                        class="vTextField" maxlength="100" id="id_residual">
                                    {% endif %}
                                </div>
                                <div class="flex-container fieldBox field-is_residual">
                                    {% if item.is_residual %}
                                        <input type="checkbox" name="is_residual" id="id_is_residual" checked>
                                    {% else %}
                                        <input type="checkbox" name="is_residual" id="id_is_residual">
                                    {% endif %}
                                    <label class="vCheckboxLabel inline" for="id_is_residual">В остатках</label>
                                </div>
                            </div>
                        </div>

                        <div class="submit-row pt-5">
                            <input type="submit" value="Сохранить" class="default" name="_save">
                            <input type="submit" value="Сохранить как новый объект" name="_saveasnew">
                            <a href="/admin/goods/products/{{ item.id }}/delete/" class="deletelink">Удалить</a>
                            {% comment %} <input type="submit" value="Сохранить и добавить другой объект" name="_addanother"> {% endcomment %}
                            {% comment %} <input type="submit" value="Сохранить и продолжить редактирование" name="_continue"> {% endcomment %}
                        </div>
                        <script id="django-admin-form-add-constants" src="{% static "admin/js/change_form.js" %}" async="">
                        </script>
                        <script id="django-admin-prepopulated-fields-constants" src="{% static "admin/js/prepopulate_init.js" %}"
                            data-prepopulated-fields="[
                                {&quot;id&quot;: &quot;#id_slug&quot;, &quot;name&quot;: &quot;slug&quot;, 
                                &quot;dependency_ids&quot;: [&quot;#id_name&quot;], &quot;dependency_list&quot;: [&quot;name&quot;], 
                                &quot;maxLength&quot;: 200, &quot;allowUnicode&quot;: false}]">
                        </script>

                    </form>
                </div>
            </div>

            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal{{ item.id }}" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{ item.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </tbody>
</table>
