@import url('https://fonts.googleapis.com/css?family=Roboto Slab&display=swap');
/*Inter  Lobster  Pacifico  Comfortaa  Overpass  Roboto Slab */

.custom-shadow {
    box-shadow: 7px 5px 8px 1px black;
}

.bgimg {
    position: relative;
    display: flex;
    justify-content: center;
}

.bgimg img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

body {
    font-size: 14px;
    font-family: Roboto Slab, serif;
    background-image: url("../images/font.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    color: azure;
}

.dropdown-menu {
    --bs-dropdown-min-width: 15rem;
}

p,
h2,
h3 {
    color: azure;
}

.carousel-item {
    box-shadow: 7px 5px 8px 1px black;
    background: rgba(0, 0, 0, 0.440)
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}
.card {
    box-shadow: 7px 5px 8px 1px black;
    background: rgba(0, 0, 0, 0.440);
    color: azure;
}

.card a {
    text-decoration: none;
    color: azure;
}

.carousel-inner a {
    text-decoration: none;
    color: black;
}
.nav-link {
    color: azure;
}

.navbar-nav .nav-link.active {
    color: azure;
}

.navbar-toggler {
    background-color: azure;
}

.sidebar {
    color: azure;
    background: rgba(0, 0, 0, 0.440)
}

.sld-txt,
.ftr-txt,
.btn-outline-primary {
    color: azure;
    margin: auto auto;
}

.badge.bg-warning.text-dark {
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 7px 5px 8px 1px black;
}

.badge.bg-warning.m.text-dark {
    position: absolute;
    top: 40px;
    left: -10px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 7px 5px 8px 1px black;
}

.badge.bg-danger.text-dark {
    position: absolute;
    top: 25px;
    left: -10px;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 7px 5px 8px 1px black;
}

footer,
.btn-outline-primary {
    background: rgba(0, 0, 0, 0.440)
}

footer a {
    text-decoration: none;
    color: black;
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dlvr {
    color: black;
    background: rgba(0, 0, 0, 0.440)
}

.sbttl {
    color: azure;
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}