{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}


{% block miniatures %}

<div class="row">
    <div class="col-lg-8 col-md-2 col-sm-2 col-2 pt-2">
        {% if product.image %}
            <img src="{{ product.image.url }}"
            class="border img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-2 col-sm-2 col-2 pt-2">
        {% if product.image_1 %}
            <img src="{{ product.image_1.url }}"
            class="border img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal2" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-2 col-sm-2 col-2 pt-2">
        {% if product.image_2 %}
            <img src="{{ product.image_2.url }}"
            class="border img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal3" alt="{{ product.name }}">
        {% endif %}
    </div>
</div>

{% endblock  %}


{% block trading %}

<div class="container mt-2">
    <div class="card mb-4">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                {% if product.image %}
                    <img src="{{ product.image.url }}"
                    class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static "deps/images/Not found image.png" %}"
                    class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="{{ product.name }}">
                {% endif %}
                <span class="favorite material-icons-outlined position-absolute top-0 end-0">
                    {% if product.id in favorites %}
                        <a id="{{ product.id }}" href="{% url "favorites:favorite_del" %}" class="del-to-fav"
                        data-product-id="{{ product.id }}">
                            {% csrf_token %}
                            <img id="FavImg_{{ product.id }}" src="{% static "deps/icons/favorite_24dp_EA3323.svg" %}">
                        </a>
                    {% else %}
                        <a id="{{ product.id }}" href="{% url "favorites:favorite_add" %}" class="add-to-fav"
                        data-product-id="{{ product.id }}">
                            {% csrf_token %}
                            <img id="FavImg_{{ product.id }}" src="{% static "deps/icons/favorite_border_24dp_5F6368.svg" %}">
                        </a>
                    {% endif %}
                </span>
            </div>
            <div class="col-md-8 ">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                <h5 class="card-title">{{product.name}}</h5>

                {% comment %} {% if not product.is_residual %}
                    <p class="product_id mt-3">{% if product.quantity %}Доступно {{product.quantity}}{{product.unit}}{% endif %}</p>
                {% endif %} {% endcomment %}
                <p class="card-text line-break text-start pt-4">{{product.description}}</p>
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static "deps/images/Not found image.png" %}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="imageModal2" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if product.image_1 %}
                                <img src="{{ product.image_1.url }}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="imageModal3" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="imageModal1Label">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if product.image_2 %}
                                <img src="{{ product.image_2.url }}" class="img-fluid" alt="{{product.name}}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">
            {% if user.groups_id == 1 %}
                {% if product.discount_low %}
                    <p><strong>От {{ product.count_for_low }} {{product.unit}} 
                        цена <s>{{product.price_low}} </s>
                        {{product.sell_price_low}} Р/{{product.unit}}
                    </strong></p>
                    <span class="badge bg-warning text-dark">Скидка {{product.discount_low}}%</span>
                {% else %}
                    <p><strong>От {{ product.count_for_low }} {{product.unit}} 
                        цена {{product.price_low}} Р/{{product.unit}}
                    </strong></p>
                {% endif %}
                <a href="{% url "carts:cart_add_low" %}" class="btn btn-dark add-to-cart"
                    data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    Добавить в корзину
                </a>
            {% else %}
                <div class="d-flex justify-content-around">
                    <div>
                        {% if product.discount_mid %}
                            <p><strong>От {{ product.count_for_mid }} {{product.unit}} 
                                цена <s>{{product.price_mid}} </s>
                                {{product.sell_price_mid}} Р/{{product.unit}}
                            </strong></p>
                            <span class="badge bg-warning m text-dark">-{{ product.discount_mid }}% с оптовой цены</span>
                        {% else %}
                            <p><strong>От {{ product.count_for_mid }} {{product.unit}} 
                                цена {{product.price_mid}} Р/{{product.unit}}
                            </strong></p>
                        {% endif %}
                        {% if product.discount %}
                            <p><s>Цена {{product.price}} </s></p>
                            <p><strong>Цена {{product.sell_price}} Р/{{product.unit}}</strong></p>
                            <span class="badge bg-warning text-dark">Скидка {{product.discount}}%</span>
                        {% else %}
                            <p><strong>Цена {{product.price}} Р/{{product.unit}}</strong></p>
                        {% endif %}
                        {% if product.count_for > 1 %}
                            <p>Минимальный заказ {{ product.count_for }} {{ product.unit }}</p>
                        {% endif %}
                        <a href="{% url "carts:cart_add" %}" class="btn btn-dark add-to-cart"
                            data-product-id="{{ product.id }}">
                            {% csrf_token %}
                            Добавить в корзину
                        </a>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock  %}