{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
<div class="position-fixed crtbtn">
    {% include "includes/cart_button.html" %}
</div>
{% endblock  %}

{% block trading %}

{% for product in shipp %}
    {% comment %} {% if product.category.name == "Товары в пути" %} {% endcomment %}
    <div class="col-lg-3 col-md-6 p-2">
        <div class="card h-100 rounded">
            {% if product.image %}
                <a href="{% url "shipping:product" product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"></a>
            {% else %}
                <a href="{% url "shipping:product" product.slug %}"><img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" alt="{{ product.name }}"></a>
            {% endif %}

            <span class="material-icons-outlined position-absolute top-0 end-0">
                {% if product.id in favorites %}
                    <a id="{{ product.id }}" href="{% url "favorites:favorite_del" %}" class="del-to-fav"
                        data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <img id="FavImg_{{ product.id }}" src="{% static "deps/icons/favorite_24dp_EA3323.svg" %}">
                    </a>
                {% else %}
                    <a id="{{ product.id }}" href="{% url "favorites:favorite_add" %}" class="add-to-fav"
                        data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <img id="FavImg_{{ product.id }}" src="{% static "deps/icons/favorite_border_24dp_5F6368.svg" %}">
                    </a>
                {% endif %}
            </span>
            
            <div class="card-body">
                <h6 class="card-title text-truncate"><a href="{% url "shipping:product" product.slug %}">{{product.name}}</a></h6>

                {% if user.groups_id == 1 %}
                    {% if product.discount_low %}
                        <p><s>Цена {{product.price_low}} Р/{{product.unit}}</s></p>
                        <p><strong>Цена {{product.sell_price_low}} Р/{{product.unit}}</strong></p>
                        <span class="badge bg-warning text-dark">Скидка {{product.discount_low}}%</span>
                    {% else %}
                        <p><strong>Цена {{product.price_low}} Р/{{product.unit}}</strong></p>
                    {% endif %}
                {% else %}
                    {% if product.discount %}
                        <p><s>Цена {{product.price}} Р/{{product.unit}}</s></p>
                        <p><strong>Цена {{product.sell_price}} Р/{{product.unit}}</strong></p>
                        <span class="badge bg-warning text-dark">Скидка {{product.discount}}%</span>
                    {% else %}
                        <p><strong>Цена {{product.price}} Р/{{product.unit}}</strong></p>
                    {% endif %}
                    <p> </p>
                    {% if product.discount_mid %}
                        <span class="badge bg-warning m text-dark">-{{product.discount_mid}}% с оптовой цены</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-footer">
                {% if user.groups_id == 1 %}
                    <a href="{% url "carts:cart_add_low" %}" class="btn add-to-cart bg-light bg-opacity-25"
                        data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <img class="mx-1" src="{% static "deps/icons/add_shopping_cart.svg" %}" alt="Catalog Icon" width="32" height="32">
                    </a>
                {% else %}
                    <a href="{% url "carts:cart_add" %}" class="btn add-to-cart bg-light bg-opacity-25"
                        data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <img class="mx-1" src="{% static "deps/icons/add_shopping_cart.svg" %}" alt="Catalog Icon" width="32" height="32">
                    </a>
                {% endif %}
            </div>    
        </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}
{% endfor %}

<!-- Пагинация -->
{% if shipp %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% else %}#{% endif %}">Назад</a>
                </li>
                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% else %}#{% endif %}">Вперед</a>
                </li>
            </div>
        </ul>
    </nav>
{% endif %}

{% endblock  %}

{% block content %}
<div class="col-lg-2 col-md-12">
    <div class="row px-2">
        <div class="col-lg-12 sidebar rounded my-4">
            <h5 class="sbttl">Здесь какие-нибудь новости</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ut doloremque aspernatur
                voluptate, quos cupiditate, suscipit culpa totam dolore, corporis veritatis animi
                reprehenderit odit quis corrupti! <a href="#">Learm More>>></a></p>
        </div>
        <div class="col-lg-12 sidebar rounded my-4">
            <h5 class="sbttl">Здесь какая-нибудь интересная информация</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique totam, reiciendis
                perferendis molestias provident eveniet sequi, nisi facilis reprehenderit omnis
                perspiciatis autem corporis fuga eaque modi libero? Sed odio delectus assumenda
                accusantium, est rem nam optio rerum cum suscipit quo. <a href="#">Learm More>>></a></p>
        </div>
        <div class="col-lg-12 sidebar rounded my-4">
            <h5 class="sbttl">Здесь какая-нибудь полезная информация</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus unde esse
                consequuntur enim? <a href="#">Learm More>>></a></p>
        </div>
    </div>
</div>
{% endblock  %}
