{% extends "base.html" %}
{% load static %}
{% comment %} {% load carts_tags %} {% endcomment %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block trading %}
{% comment %} {% user_carts request as carts %} {% endcomment %}
    <div class="container">
        <div class="row text-center">
            <div class="col p-4">
                <img class="mx-1" src="{% static "deps/icons/qr-code.jpg" %}" alt="QR-CODE" width="300" height="300">
            </div>
            <div class="col p-4">
                <h2>Заказ № {{ order }}</h2>
                <h2>К оплате {{ amount }} Р</h2>
            </div>
        </div>
    </div>
{% endblock  %}